<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="AnimalShopAdmin" xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>

	<!--General-->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" HREF="images/logo.jpeg"/>
	<title>Animal Shop</title>
	<meta name="description" content="Test module MF6">
	<meta name="author" content="Animal Shop">
		
	<!--css-->
	<link rel="stylesheet" type="text/css" href="../css/frameworks/bootstrap.min.css">
	<link href="../css/index.css" rel="stylesheet" type="text/css"/>
		
	<!--Frameworks-->
		<!--jQuery-->
		<script src="../js/frameworks/jQuery/jQuery.js" type="text/javascript" xml:space="preserve"></script>
		<script src="../js/frameworks/jQuery/jquery-ui.min.js" type="text/javascript" xml:space="preserve"></script>

		<!--Angular-->
		<script src="../js/frameworks/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
	    <script src="../js/frameworks/angular/angular-animate.js"></script>
	    <script src="../js/frameworks/angular/ng-currency.js" type="text/javascript" xml:space="preserve"></script>
		<script src="../js/frameworks/angular/i18n/angular-locale_es-es.js" type="text/javascript" xml:space="preserve"></script>
		<script src="../js/frameWorks/angular/cookies/angular-cookies.js" type="text/javascript" xml:space="preserve"></script>

	    <!--Bootstrap js-->
	    <script src="../js/frameworks/Bootstrap/ui-bootstrap-0.14.3.min.js"></script>
	    <script src="../js/frameworks/Bootstrap/bootstrap.min.js" type="text/javascript" xml:space="preserve"></script>

	    <!--Own code-->
			<!--Model-->
			<script type="text/javascript" src="../js/model/animalObj.js"></script>
			<script type="text/javascript" src="../js/model/AnimalTypeObj.js"></script>
			<script type="text/javascript" src="../js/model/providerObj.js"></script>
			<script type="text/javascript" src="../js/model/userObj.js"></script>

			<!--Control-->
		    <script src="../js/control/adminMenu.js"></script>
</head>
<body ng-controller="AnimalShopAdminController as AnimalShopAdminCtrl" ng-init="AnimalShopAdminCtrl.loadMainData()">

<!-- MENU DROPDOWN -->
		
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Animal Store - Admin Management</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
					<!-- PRODUCTS ANIMALS MANAGEMENT -->
					<li class="dropdown">
					  	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Animals Management <span class="caret"></span></a>
					  	<ul class="dropdown-menu">
						    <li><a href="#" ng-click='searchAnimal="0"'>Add</a></li>
						    <li><a href="#" ng-click='searchAnimal="1"'>Modify & Delete</a></li>  
					  	</ul>
					</li>
				</ul>
				<p class="navbar-text navbar-right">Welcome:<a href="#" class="navbar-link h4">{{nick}}</a></p>
				
		    </div><!-- /.navbar-collapse -->
		 
	  	</div><!-- /.container-fluid -->
	</nav>
	<div class="container">
	<!-- TEMPLATES -->
		
		<search-animals-form></search-animals-form>
	</div>
</body>
</html>
