<div ng-show="searchAddProd==0">
	<h3>Search for a ticket</h3>
	<br><br>
	<form role="form" name="searchProductsForm" ng-submit="searchProductsForm.$valid && FGCShopCtrl.validateSearchData()" novalidate>
		<div class="row">
			<div class="col-xs-4">	
				<div class="form-group">
				    <label for="name">Name:</label>
				    <input type="text" class="form-control" ng-model="products.name"  id="name" placeholder="Enter product name"><!--ng-pattern="/^[A-ZÑ][a-zA-Zñá-ú\s]+$/"-->
				</div>
			</div>
			<div class="col-xs-4">	
				<div class="form-group">
				    <label for="name">Price:</label>
				    <input type="text" class="form-control" ng-model="products.price" ng-currency currency-symbol="€" id="price" placeholder="Enter product price"><!--ng-pattern="/^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/"-->
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group">
				    <label for="name">Ticket (product) type:</label>
				    <select  class="form-control select-primary" id="productType" ng-model="productType" 
					ng-options="productType.getName() for productType in FGCShopCtrl.productTypeArray track by productType.getId()">
					<!--<option value="" disabled selected>Select a prod type</option>-->
					</select>
				</div>
			</div>	
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-4">
				<div class="form-group">
				    <label for="name">Max quantity:</label>
				    <input type="text" min="0" class="form-control" ng-pattern="/^0*[1-9]\d*$/" ng-model="products.quantity" id="maxQuantity">
				</div>
			</div>	
			<div class="col-xs-4">
				<div class="form-group">
				    <label for="name">Min quantity:</label>
				    <input type="text" min="0" class="form-control" ng-pattern="/^0*[1-9]\d*$/" ng-model="minQuantity" id="minQuantity">
				</div>
			</div>
			<div class="col-xs-4">	
				<div class="form-group">
				    <label for="name">Zones:</label>
				    <select class="form-control" ng-model="products.zones" id="zones" ng-options="zones for zones in ['1','2','3','4','5','6']" placeholder="Enter Zones">
				    </select>
				</div>
			</div>	
			<div><button type="submit" class="btn btn-default" ng-disabled="searchProductsForm.$invalid">Search!</button></div>
		</div>
	</form>
</div>


		
